In [32]:
from gen_data_and_simulate_drift import DriftIntensity, DriftSimulator, GenerateFakeData
from training_script import Classifier

In [33]:
import pandas as pd
import numpy as np
import joblib
from sklearn.preprocessing import OrdinalEncoder

In [34]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [26]:
DATA_PATH = '../datasets/'
MODEL_PATH = '../models/'

### Exploring the generator class

In [164]:
pokemon_test_data='bank_num.csv'
df = pd.read_csv(DATA_PATH + pokemon_test_data )

In [165]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  int64
 2   marital    11162 non-null  int64
 3   education  11162 non-null  int64
 4   default    11162 non-null  int64
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  int64
 7   loan       11162 non-null  int64
 8   contact    11162 non-null  int64
 9   day        11162 non-null  int64
 10  month      11162 non-null  int64
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  int64
 16  deposit    11162 non-null  int64
dtypes: int64(17)
memory usage: 1.4 MB

In [163]:
SAMPLE_SIZE=1000
target = 'default'
genertor_fake_data = GenerateFakeData(path_ref_data=DATA_PATH+'bank_num.csv', sample_size=SAMPLE_SIZE, target=target, model_name = 'bank_generator.pkl')

default

TypeError: object of type 'GaussianMultivariate' has no len()

In [77]:
genertor_fake_data.df_ref.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Total       800 non-null    int64
 2   HP          800 non-null    int64
 3   Attack      800 non-null    int64
 4   Defense     800 non-null    int64
 5   Sp. Atk     800 non-null    int64
 6   Sp. Def     800 non-null    int64
 7   Speed       800 non-null    int64
 8   Generation  800 non-null    int64
 9   Legendary   800 non-null    bool
dtypes: bool(1), int64(9)
memory usage: 57.2 KB

In [78]:
genertor_fake_data.df_samples.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 499
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           1000 non-null   int64
 1   Total       1000 non-null   int64
 2   HP          1000 non-null   int64
 3   Attack      1000 non-null   int64
 4   Defense     1000 non-null   int64
 5   Sp. Atk     1000 non-null   int64
 6   Sp. Def     1000 non-null   int64
 7   Speed       1000 non-null   int64
 8   Generation  1000 non-null   int64
 9   Legendary   1000 non-null   bool
dtypes: bool(1), int64(9)
memory usage: 79.1 KB

In [79]:
genertor_fake_data.df_samples.head()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,456,691,98,151,65,170,85,132,3,False
1,705,528,80,52,79,98,112,69,5,False
2,309,602,105,75,101,132,137,96,2,False
3,791,804,172,178,162,136,99,97,6,False
4,360,580,78,144,78,117,52,105,2,False

In [80]:
sampled_data = genertor_fake_data.get_dataclass_sampling()

In [93]:
sampled_data.list_num_col

['#',
 'Total',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation']

In [157]:
pok_classifier = Classifier(df_train=sampled_data.train_data,
                 num_features=sampled_data.list_num_col,
                 cat_features=None,
                 target=target,
                pkl_file_path=MODEL_PATH + f'class_{target}_model.pkl',
                iterations = 50, depth = 5)

In [158]:
pok_classifier.cat_features, pok_classifier.num_features

([],
 ['#',
  'Total',
  'HP',
  'Attack',
  'Defense',
  'Sp. Atk',
  'Sp. Def',
  'Speed',
  'Generation'])

In [159]:
pok_classifier.train()

0:	learn: 0.6750032	total: 1.12ms	remaining: 55ms
1:	learn: 0.6663239	total: 1.81ms	remaining: 43.4ms
2:	learn: 0.6557717	total: 2.22ms	remaining: 34.8ms
3:	learn: 0.6522669	total: 2.79ms	remaining: 32.1ms
4:	learn: 0.6398103	total: 3.32ms	remaining: 29.9ms
5:	learn: 0.6368281	total: 3.71ms	remaining: 27.2ms
6:	learn: 0.6281815	total: 4.12ms	remaining: 25.3ms
7:	learn: 0.6194746	total: 4.55ms	remaining: 23.9ms
8:	learn: 0.6062618	total: 4.96ms	remaining: 22.6ms
9:	learn: 0.5922178	total: 5.33ms	remaining: 21.3ms
10:	learn: 0.5842592	total: 5.74ms	remaining: 20.3ms
11:	learn: 0.5729578	total: 6.12ms	remaining: 19.4ms
12:	learn: 0.5532876	total: 6.55ms	remaining: 18.6ms
13:	learn: 0.5404690	total: 6.93ms	remaining: 17.8ms
14:	learn: 0.5259424	total: 7.43ms	remaining: 17.3ms
15:	learn: 0.5159687	total: 7.84ms	remaining: 16.7ms
16:	learn: 0.5064903	total: 8.25ms	remaining: 16ms
17:	learn: 0.4990476	total: 8.74ms	remaining: 15.5ms
18:	learn: 0.4962196	total: 9.13ms	remaining: 14.9ms
19:	learn: 0.4892069	total: 9.47ms	remaining: 14.2ms
20:	learn: 0.4851685	total: 9.81ms	remaining: 13.6ms
21:	learn: 0.4818792	total: 10.2ms	remaining: 13ms
22:	learn: 0.4772223	total: 10.5ms	remaining: 12.4ms
23:	learn: 0.4645161	total: 10.9ms	remaining: 11.8ms
24:	learn: 0.4590547	total: 11.2ms	remaining: 11.2ms
25:	learn: 0.4516540	total: 11.6ms	remaining: 10.7ms
26:	learn: 0.4466065	total: 11.9ms	remaining: 10.1ms
27:	learn: 0.4389214	total: 12.2ms	remaining: 9.62ms
28:	learn: 0.4296542	total: 12.6ms	remaining: 9.11ms
29:	learn: 0.4198279	total: 12.9ms	remaining: 8.62ms
30:	learn: 0.4100009	total: 13.3ms	remaining: 8.14ms
31:	learn: 0.4039276	total: 13.6ms	remaining: 7.64ms
32:	learn: 0.3974211	total: 13.9ms	remaining: 7.17ms
33:	learn: 0.3916399	total: 14.3ms	remaining: 6.75ms
34:	learn: 0.3815123	total: 14.7ms	remaining: 6.29ms
35:	learn: 0.3747236	total: 15.1ms	remaining: 5.87ms
36:	learn: 0.3705603	total: 15.5ms	remaining: 5.44ms
37:	learn: 0.3693621	total: 15.9ms	remaining: 5.01ms
38:	learn: 0.3613485	total: 16.2ms	remaining: 4.56ms
39:	learn: 0.3603851	total: 16.7ms	remaining: 4.18ms
40:	learn: 0.3516698	total: 17.1ms	remaining: 3.75ms
41:	learn: 0.3423471	total: 17.4ms	remaining: 3.31ms
42:	learn: 0.3417863	total: 17.7ms	remaining: 2.88ms
43:	learn: 0.3383757	total: 18ms	remaining: 2.45ms
44:	learn: 0.3329561	total: 18.4ms	remaining: 2.04ms
45:	learn: 0.3314321	total: 18.7ms	remaining: 1.63ms
46:	learn: 0.3293214	total: 19ms	remaining: 1.21ms
47:	learn: 0.3209201	total: 19.4ms	remaining: 807us
48:	learn: 0.3204672	total: 19.7ms	remaining: 402us
49:	learn: 0.3114615	total: 20.1ms	remaining: 0us

In [160]:
pok_classifier.serialize()

Error occurred while pickling: Can't pickle <class 'training_script.Classifier'>: it's not the same object as training_script.Classifier

In [161]:
prediction = pok_classifier.predict(sampled_data.test_data)
prediction = [1 if e=='True' else 0 for e in prediction]

In [162]:
(prediction==sampled_data.test_data[target]).mean()

0.52

### Creating marketing dataset

In [66]:
import os

In [69]:
os.path.exists(DATA_PATH + 'bank.csv')

True

In [177]:
bank = pd.read_csv(DATA_PATH + 'bank.csv')

In [178]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [179]:
cat_cols = bank.select_dtypes('O').columns
cat_cols = cat_cols.drop('default')
cat_cols

Index(['job', 'marital', 'education', 'housing', 'loan', 'contact', 'month',
       'poutcome', 'deposit'],
      dtype='object')

In [180]:
oe = OrdinalEncoder(dtype=np.int64, handle_unknown='use_encoded_value', unknown_value=-1)

In [181]:
bank[cat_cols].head()

          job  marital  education housing loan  contact month poutcome deposit
0      admin.  married  secondary     yes   no  unknown   may  unknown     yes
1      admin.  married  secondary      no   no  unknown   may  unknown     yes
2  technician  married  secondary     yes   no  unknown   may  unknown     yes
3    services  married  secondary     yes   no  unknown   may  unknown     yes
4      admin.  married   tertiary      no   no  unknown   may  unknown     yes

In [182]:
bank[cat_cols] = oe.fit_transform(bank[cat_cols])

In [183]:
bank[cat_cols].head()

   job  marital  education  housing  loan  contact  month  poutcome  deposit
0    0        1          1        1     0        2      8         3        1
1    0        1          1        0     0        2      8         3        1
2    9        1          1        1     0        2      8         3        1
3    7        1          1        1     0        2      8         3        1
4    0        1          2        0     0        2      8         3        1

In [184]:
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,0,1,1,no,2343,1,0,2,5,8,1042,1,-1,0,3,1
1,56,0,1,1,no,45,0,0,2,5,8,1467,1,-1,0,3,1
2,41,9,1,1,no,1270,1,0,2,5,8,1389,1,-1,0,3,1
3,55,7,1,1,no,2476,1,0,2,5,8,579,1,-1,0,3,1
4,54,0,1,2,no,184,0,0,2,5,8,673,2,-1,0,3,1

In [185]:
joblib.dump(oe, MODEL_PATH+ 'bank_ordinal_encoder.pkl')

['../models/bank_ordinal_encoder.pkl']

In [186]:
bank.to_csv(DATA_PATH + 'bank_num.csv', index = False)

In [187]:
bank.dtypes

age           int64
job           int64
marital       int64
education     int64
default      object
balance       int64
housing       int64
loan          int64
contact       int64
day           int64
month         int64
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome      int64
deposit       int64
dtype: object